@charset "UTF-8";

#login 
  {
  background-color: #15142b;
  }
#navegacao
  {
  background-color: #15142b;
  }

form 
  {
  color: antiquewhite;
  background-color: rgba(142, 131, 214, 0.436);
  padding: 15px;
  border-radius: 10px;
  }

#card-header 
  {
  color: white;
  background-color: rgba(142, 131, 214, 0.436);
  }
#cards 
  {
  background-color: #232246;
  }
.container-fluid
  {
  padding: 2rem;
  }