@charset "UTF-8";

#login 
  {
  background-color: #15142b;
  }
#navegacao
  {
  background-color: #15142b;
  }

form 
  {
  color: antiquewhite;
  background-color: rgba(55, 41, 145, 0.436);
  padding: 15px;
  border-radius: 10px;
  }
button[type=submit] 
  {
  width: 100%;
  background-color: #4CAF50;
  font-size: 1em;
  color: antiquewhite;
  padding: 10px 20px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
#card-header 
  {
  color: white;
  background-color: rgba(142, 131, 214, 0.436);
  }
#cards 
  {
  background-color: #232246;
  }